<p>Ciao {{user.available_name}},</p>

<p>
  La conversazione n. {{conversation.display_id}} in {{ inbox.name }}
  non ha rispettato il tempo previsto per la prima risposta secondo la policy {{ sla_policy.name }}.
</p>

<p>
  <a href="{{action_url}}">Intervieni immediatamente.</a>
</p>
